<p class="font-courier text-black">

  - Папа, видел, какие странные дяди, - сказал мальчик, когда
  лавка осталась позади.
  Отец сплюнул на дорогу.
  - Пьянь, - сказал он. - Будешь себя так вести, тоже вроде
  них вырастешь.
  Откуда-то в его руках появился кусок слежавшегося навоза.
  Он кинул его сыну, и мальчик еле успел подставить руки. Из
  отцовских слов было не очень ясно, как надо или не надо себя
  вести, чтобы вырасти таким, как эти дяди, но как только в ладони
  шлепнулся теплый навоз, все стало понятно очень хорошо, и
  мальчик молча опустил папин подарок в сумку.
  Из тумана выплыла длинная и узкая палатка, похожая на
  стоящий на боку спичечный коробок. В ее витрине за разноцветными
  сигаретными пачками, парфюмерными флаконами и позорными
  кооперативными штанами скучала продавщица. За ее спиной
  дымилось замызганное стекло гриль-машины, в которой жарились
  белые равнодушные куры. На стене палатки висела колонка, из
  которого рывками вылетала музыка, словно ее сквозь черный
  пластмассовый динамик прокачивал невидимый велосипедный насос.
  - Простите, а где тут пляж? - спросил отец у продавщицы.
  Продавщица высунула руку из окошка и молча указала пальцем
  в туман.
  - Гм... А сколько эти стаканчики стоят? - спросил отец.
  Продавщица тихо ответила.
  - Ничего себе, - сказал отец. - Ну давайте.
  Он протянул стаканчики сыну, тот положил их в сумку, и они
  двинулись дальше. Палатка исчезла, а впереди появился небольшой
  мост. За ним туман оказался еще гуще - ясно был виден только
  бетон под ногами, и еще по бокам просвечивали размытые зеленые полосы,
  похожие не то на огромные стебли травы, не то на деревья. Вместо
  неба над головой был низкий белый свод тумана, а слева иногда
  появлялись пустые бетонные клумбы с ребристыми стенками - они
  расширялись кверху и из-за этого напоминали перевернутые пивные
  пробки.
  - Папа, - спросил мальчик, - а из чего состоит туман?
  Отец задумался.
  - Туман, - сказал он, протягивая сыну несколько маленьких
  кусочков навоза, - это мельчайшие капельки воды, висящие в
  воздухе.
  - А почему они не падают на землю?
  Отец поразмышлял и протянул мальчику еще один кусок.
  - Потому что они очень маленькие, - сказал он.
  Мальчик опять не успел заметить, откуда папа взял навоз, и
  поглядел по сторонам, словно пытаясь разглядеть эти маленькие
  капельки.
  - Мы не заблудимся? - озабоченно спросил он. - Ведь вроде
  уже должен быть пляж.
  Отец не ответил. Он молча шел дальше в туман, и ничего не
  оставалось делать, кроме как следовать за ним. Мальчику
  померещилось, что они с отцом ползут у подножия главной елки
  мира сквозь огромные клочья изображающей снег ваты, ползут
  неясно куда, и отец только делает вид, что знает дорогу.
  - Папа, и куда это мы только идем, идем...
  - Чего?
  - Так.
  Мальчик поднял глаза и увидел сбоку неясное мерцание.
  За белой мглой нельзя было разобрать, где находится его
  источник, и что это светится - то ли совсем рядом часть тумана
  сияет голубым огнем, то ли издалека пытается пробиться луч
  включенного неизвестно кем прожектора.
  - Папа, гляди!
  Отец поднял глаза и остановился.
  - Что это такое?
  - Не знаю, - сказал отец, трогаясь дальше. - Наверно,
  фонарь какой-нибудь забыли погасить.
  Мальчик пошел следом, косясь на уплывающий назад свет.
  Несколько минут они шли молча; мальчик иногда оглядывался,
  но света больше не было видно. Зато в голову опять стали
  приходить странные, ни на что не похожие мысли, какие в
  нормальном месте никогда бы не возникли.
  - Слышишь, пап, - сказал мальчик, - мне сейчас вдруг
  показалось, что мы с тобой давно заблудились. Что мы только
  думаем, что идем на пляж, а никакого пляжа на самом деле нет. И
  даже страшно стало...
  Отец рассмеялся и потрепал мальчика по голове. Потом в его
  руках откуда-то появился такой здоровый кусок навоза, что его
  хватило бы на голову крупной снежной бабы.
  - Знаешь, как в народе говорят, - сказал он, передавая его
  сыну, - жизнь прожить - не поле перейти.
  Мальчик уклончиво кивнул, с трудом втиснул папин подарок в
  свою сумку и перехватил ее руками, потому что тонкий полиэтилен
  ручек уже начал растягиваться.
  - А бояться не надо, - сказал отец, - этого не надо... Ты
  ведь мужчина, солдат. На вот.
  Перехватив новый кусок навоза, мальчик попытался удержать
  его в руках, но сразу же выронил, а следом на бетон шлепнулась
  сумка, в которой хрустнули разбившиеся стаканы. Мальчик сел на
  корточки у сумки, из которой при падении вывалилась большая часть
  навоза, потрогал ее рукой, испуганно поднял глаза на отца, но
  вместо ожидаемой хмурой гримасы обнаружил на его лице
  торжественное и немного официальное умиление.
  - Вот ты и стал взрослым, - помолчав, сказал отец и вручил
  сыну новую пригоршню навоза. - Считай, сегодня твой второй день
  рождения.
  - Почему?
  - Теперь ты уже не сможешь нести весь свой навоз в руках. У
  тебя теперь будет свой Йа, как у меня и мамы.
  - Свой Йа? - спросил мальчик. - А что такое Йа?
  - Посмотри сам.
  Мальчик внимательно поглядел на отца и вдруг увидел рядом с
  ним большой полупрозрачный серо-коричневый шар.
  - Что это? - испуганно спросил он.
  - Это мой Йа, - сказал отец. - И теперь такой же будет у
  тебя.
  - А почему я его раньше не видел?
  - Ты был еще маленьким. А сейчас ты вырос достаточно и уже
  можешь увидеть священный шар сам.
  - А почему он такой зыбкий? Из чего он?
  - Зыбким, - сказал отец, - он тебе кажется потому, что ты
  только что его увидел. Когда ты привыкнешь, ты поймешь, что это
  самая реальная вещь на свете. А состоит он из чистого навоза.
  - А-а, так вот где ты все время навоз брал, папа, -
  протянул мальчик. - А то ты его мне все даешь, даешь, а откуда -
  непонятно. У тебя его вон сколько, оказывается. А какое ты слово
  сказал?
  - Йа. Это священный египетский слог, которым навозники уже
  много тысячелетий называют свой шар, - торжественно ответил
  отец. - Пока твой Йа еще маленький, но постепенно он будет
  становиться все больше и больше. Часть навоза дадим тебе мы с
  мамой, а потом ты научишься находить его сам.
  Мальчик так и сидел на корточках, недоверчиво глядя на
  отца. Отец улыбнулся и чмокнул губами.
  - А где я буду находить навоз? - спросил мальчик.
  - Вокруг, - сказал отец, и указал рукой в туман.
  - Но там же никакого навоза нет, папа.
  - Наоборот там один навоз.
</p>
